#head {
	font-family: "Open Sans", "Helvetica", "Arial", sans serif;
}

body {
	margin:0;
	background-color: #B0E5F4;
}



li:hover {
	color:#FF3333;
}

a {
	color: white;
}


.sidebar {
	position: fixed;
	z-index: 10;
	width: 140px;
	height: 100%;
	padding: 20px;
	float: left;
	opacity: 0.9;
	background: #A09F9F;
	-webkit-transform: translateX(-280px);
	-webkit-transition: all 0.3s;
}

.sidebar-button {
	position: fixed;
	z-index: 30;
	left: 30px;
	top: 15px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

#sidebar-name {
	font-size: 30px;
	font-style: italic;
}
.sidebar-content {
	opacity: 1;
	height: 100%;
	
	
}




ul {
	color: white;
	text-transform: uppercase;
	position: absolute;
	font-weight: 300;
	z-index: 10;
	font-size: 20px;
	left: 2%;
	top: 10%;
}

li {
	display: inline-block;
	margin: 20px;
	margin-left: 0px;
	cursor: pointer;
	z-index: 11;
	/*opacity: 1;*/
}

img {
	/*background-size: 100%;*/
	width: 100%;
	height: calc(100% + 250px);
	opacity: 0.6;
	z-index: 0;
	position: absolute;
}


.sidebar-active {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}


#nav-toggle {
	position: absolute;
	left: 10px;
	top: 10px;
}

#nav-toggle {
	padding: 10px 30px 15px 0px; 
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	height: 3px;
	width: 30px;
	background: #fff;
	position: absolute;
	display: block;
	content: '';
}

#nav-toggle span:before {
	top: -10px; 
}

#nav-toggle span:after {
	bottom: -10px;
}

